/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Computer Modern Serif", Baskerville, "Palatino Linotype", Palatino, FreeSerif, serif !default;
$presentation-heading-font-size: 1em !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$link-color: #0E6cb9 !default;
$selection-bg: #26351c !default;
$mainColor: #000;


// headings
$presentation-heading-font: "Computer Modern Serif", Baskerville, "Palatino Linotype", Palatino,
  FreeSerif, serif !default;
$presentation-heading-color: #000 !default;


$code-block-bg: #fff !default;
$code-block-border: #fff !default;

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }




